<%- include ('partials/header') %>
    <p class="m-5"></p>
    <div class="container border m-auto w-25">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">Welome, <%= name %>.</h2>
                <a href="/member/logout" class="btn btn-secondary m-3">Log out</a>
            </div>
        </div>

    </div>
<%- include ('partials/footer') %>